.add{
    background-color: rgb(107, 107, 231);
    color: white;
}

.substract{
    background-color: rgb(247, 179, 190);
    color: white;
}

.clear{
    background-color: rgb(56, 119, 98);
    color: white;
}

