body{
    background-color: rgb(231, 214, 226);
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between, left;
    padding: 1em;
}

.tarjeta{
    background-color: rgb(250, 183, 194);
    padding: 1em;
    margin: 10px;
    width: 245px;
    border-radius: 8px;
    min-height: 100px; /*No funciona min-height*/
}

#botonAgregar{
    background-color: rgb(247, 198, 206);
    border-color: rgb(247, 198, 206);
    height: 110px;
    padding: 1em;
    margin: 10px;
    width: 280px;
    border-radius: 8px;
}

.barra{
    background-color: rgb(251, 168, 182);
    border: 10px solid rgb(251, 168, 182);
    display: flex;
    align-items: center; 
}

.barra > * {
    margin-right: 10px; 
}

.nuevaTarea{
    background-color: white; 
    border-color: white;
    height: 35px;
    width: 240px;
    padding: 5px; 
    margin: 3px; 
    border-radius: 7px; 
}

.editarTarea {
    background-color: white; 
    border-color: white;
    padding: 5px;
    border-radius: 7px; 
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.contenidoModal{
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    width: 60%;
}
  
.cerrar, 
.cerrarTarea, 
.cerrarEdicion{
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus
.cerrarTarea:hover, 
.cerrarTarea:focus, 
.cerrarEdicion:hover, 
.cerrarEdicion:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span.cerrar,
span.cerrarTarea, 
span.cerrarEdicion{
    cursor: pointer;
}
